a {
  color: inherit;
}

.introduction {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-cta {
  background-color: white;
  outline-color: black;
  transition-duration: 0.4s;
}

.main-cta:hover {
  background-color: black;
  outline-color: white;
  color: white;
}

.main-cta a {
  text-decoration: none;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 0.5rem;
}

/* React-Notion-X callout text looks odd */
.notion-callout-text {
  display: block;
}

/* weird blocking div */
.notion-viewport {
  display: none;
}

.notion-text {
  margin-block-start: 0.5rem;
}

.notion-list li {
  padding: 0;
}

.content {
  max-width: 766px;
  padding: 2px 8px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.sub {
  color: gray;
  font-size: 13px;
}

.react-calendar-heatmap .color-scale-0 {
  fill: #dbf1da;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #c9eac8;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #b7e2b6;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #a5dba3;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #93d491;
}
.react-calendar-heatmap .color-scale-5 {
  fill: #81cd7e;
}
.react-calendar-heatmap .color-scale-6 {
  fill: #6fc66c;
}
.react-calendar-heatmap .color-scale-7 {
  fill: #5dbf5a;
}
.react-calendar-heatmap .color-scale-8 {
  fill: #4bb847;
}
.react-calendar-heatmap .color-scale-9 {
  fill: #44a340;
}
.react-calendar-heatmap .color-scale-10 {
  fill: #3c9339;
}
.react-calendar-heatmap .color-scale-11 {
  fill: #358132;
}
.react-calendar-heatmap .color-scale-12 {
  fill: #2d6e2b;
}
.react-calendar-heatmap .color-scale-13 {
  fill: #265c24;
}
.react-calendar-heatmap .color-scale-14 {
  fill: #1e491d;
}
